In [1]:
import pandas as pd
import numpy as np
import math

In [3]:
air = pd.read_csv("C:/Users/Administrator/Python/Python Assignments/DataSets/airquality.csv")
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [7]:
air.columns
#1.	Fetch the observations for 9 day of June

air[((air.Month == 6) & (air.Day == 9))]

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [8]:
#2.	Find Average temperature for the month of June. 

air[air.Month == 6].mean()['Temp']

79.1

In [42]:
#3.	To which day of June has the least temperature

air[air.Month == 6].min()['Temp']
air[((air.Month == 6)&(air.Temp == 65))]

    Ozone  Solar.R  Wind  Temp  Month  Day
48   20.0     37.0   9.2    65      6   18

In [11]:
#4.	Find Maximum Ozone value for the month of May

air[air.Month == 5].max()['Ozone']

115.0

In [19]:
#5.	Find the count of the missing values in the ozone column of the data set

air.Ozone.isnull().sum()

37

In [22]:
#6.	Find out What is the mean of the Ozone column in this dataset

air.Ozone.mean()

42.12931034482759

In [38]:
#7.	Find out which month has the highest temperature


air[air.Temp == air.Temp.max()][['Temp','Month']]

     Temp  Month
119    97      8

In [36]:
#8.	Find out the wind value when the Ozone becomes maximum

air.max()['Ozone']
air[air.Ozone == air.Ozone.max()][['Ozone','Wind']]

     Ozone  Wind
116  168.0   3.4

In [31]:
#9.	Find out the months for which the airquality observations have been carried out

air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [48]:
#10.	Find the Ozone and temperature values for the 1st observation of every month.

air.groupby('Month').head(1)[['Ozone','Temp','Month']]

     Ozone  Temp  Month
0     41.0    67      5
31     NaN    78      6
61   135.0    84      7
92    39.0    81      8
123   96.0    91      9

In [58]:
#11.	Which day of which month corresponds to the least Ozone Value. 

air[air.Ozone == air.Ozone.min()][['Ozone','Month','Day']]

    Ozone  Month  Day
20    1.0      5   21

In [66]:
#12.	Convert the temperature for all the observations to Centigrade scale

def celsius(T):
     return (round(float(5.0)/9.0)*(T-32,2))
celsius(air.Temp)

(0      35
 1      40
 2      42
 3      30
 4      24
 5      34
 6      33
 7      27
 8      29
 9      37
 10     42
 11     37
 12     34
 13     36
 14     26
 15     32
 16     34
 17     25
 18     36
 19     30
 20     27
 21     41
 22     29
 23     29
 24     25
 25     26
 26     25
 27     35
 28     49
 29     47
        ..
 123    59
 124    60
 125    61
 126    61
 127    55
 128    52
 129    48
 130    46
 131    43
 132    41
 133    49
 134    44
 135    45
 136    39
 137    39
 138    46
 139    35
 140    44
 141    36
 142    50
 143    32
 144    39
 145    49
 146    37
 147    31
 148    38
 149    45
 150    43
 151    44
 152    36
 Name: Temp, Length: 153, dtype: int64, 2)